flows.json
[{"id":"74e4c992.25d51","type":"tab","label":"water_sensor","disabled":false,"info":""},{"id":"45dd8798.2cfc88","type":"tab","label":"xmas_light","disabled":false,"info":""},{"id":"f841e824.d474f","type":"tab","label":"Lavatrice","disabled":false,"info":""},{"id":"22ed3d76.929c3a","type":"server","z":"","name":"Casa","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"1b399b.1c765e66","type":"server-state-changed","z":"74e4c992.25d51","name":"uno_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00024d84eb_water_leak","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":120,"y":160,"wires":[["dece2f0a.8837c8"],[]],"outputLabels":["payload",""]},{"id":"ad52530b.2d99","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","service_domain":"notify","service":"ios_mauros_iphone","data":"{\"message\":\"E' stata rilevata una perdita d'acqua dal sensore \",\"title\":\"Attenzione perdita d'acqua {{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":750,"y":240,"wires":[[]]},{"id":"c54846e.fe6b7b8","type":"server-state-changed","z":"74e4c992.25d51","name":"due_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00022f07db_water_leak","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":120,"y":240,"wires":[["394a12ba.a1306e"],[]]},{"id":"fc1ceb77.d59ce8","type":"server-state-changed","z":"74e4c992.25d51","name":"tre_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00022f07f7","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":320,"wires":[["263b16ac.6d2f22"],[]]},{"id":"f5488a6c.31f53","type":"sunrise","z":"45dd8798.2cfc88","name":"","lat":"45.6666400","lon":"9.0488400","start":"sunriseEnd","end":"goldenHour","x":70,"y":100,"wires":[[],["3b028a67.70c13e"]],"outputLabels":["payload",""]},{"id":"3b028a67.70c13e","type":"switch","z":"45dd8798.2cfc88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":100,"wires":[["785b1e0.5e8c7e4"],["7cb064d9.8a1514"]]},{"id":"785b1e0.5e8c7e4","type":"api-call-service","z":"45dd8798.2cfc88","name":"Accende luci di Natale","server":"22ed3d76.929c3a","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":60,"wires":[[]]},{"id":"7cb064d9.8a1514","type":"api-call-service","z":"45dd8798.2cfc88","name":"Spegne luci di Natale","server":"22ed3d76.929c3a","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":140,"wires":[[]]},{"id":"88b9c545.82cbe8","type":"api-current-state","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","halt_if":"20","halt_if_type":"num","halt_if_compare":"gte","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.0x00158d00022f07f7_battery","state_type":"num","outputs":2,"x":490,"y":580,"wires":[["c457a7e5.d849a"],[]]},{"id":"b538613.c27292","type":"inject","z":"74e4c992.25d51","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["88b9c545.82cbe8","6a05f7bf.57f9e","319ff19f.9979e6"]]},{"id":"dece2f0a.8837c8","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UNO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["ad52530b.2d99"]]},{"id":"394a12ba.a1306e","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DUE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["ad52530b.2d99"]]},{"id":"263b16ac.6d2f22","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TRE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["ad52530b.2d99"]]},{"id":"6a05f7bf.57f9e","type":"api-current-state","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","halt_if":"20","halt_if_type":"num","halt_if_compare":"gte","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.0x00158d00024d84eb_battery","state_type":"num","outputs":2,"x":500,"y":500,"wires":[["298b32c5.25079e"],[]]},{"id":"319ff19f.9979e6","type":"api-current-state","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","halt_if":"20","halt_if_type":"num","halt_if_compare":"gte","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.0x00158d00022f07f7_battery","state_type":"num","outputs":2,"x":490,"y":660,"wires":[["6147cc6b.7aee8c"],[]]},{"id":"bffd71fd.bbbdd8","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","service_domain":"notify","service":"ios_mauros_iphone","data":"{\"message\":\"Livello batteria al di sotto del 20% \",\"title\":\"Attenzione livello batteria sensore {{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":580,"wires":[[]]},{"id":"298b32c5.25079e","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"uno","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["bffd71fd.bbbdd8","7ca1e884.f24ed"]]},{"id":"c457a7e5.d849a","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"due","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":580,"wires":[["bffd71fd.bbbdd8"]]},{"id":"6147cc6b.7aee8c","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tre","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":660,"wires":[["bffd71fd.bbbdd8"]]},{"id":"7ca1e884.f24ed","type":"debug","z":"74e4c992.25d51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":480,"wires":[]},{"id":"a8632f50.219d08","type":"server-state-changed","z":"f841e824.d474f","name":"","server":"22ed3d76.929c3a","entityidfilter":"sensor.lavatrice_watts","entityidfiltertype":"substring","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":280,"wires":[["9c957b94.3cbb5"]]},{"id":"f4340b95.47f0f","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavatrice","server":"22ed3d76.929c3a","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.washingmachine_status","state_type":"str","outputs":1,"x":930,"y":200,"wires":[["fe8fbe43.1e9b3"]]},{"id":"ae09eb3a.ae7da8","type":"switch","z":"f841e824.d474f","name":"<= 5 or >5 ?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"str"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":280,"wires":[["f4340b95.47f0f"],["a3105e74.022858"]]},{"id":"a3105e74.022858","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavatrice","server":"22ed3d76.929c3a","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.washingmachine_status","state_type":"str","outputs":1,"x":930,"y":380,"wires":[["3f57ade6.e73e2a"]]},{"id":"3f57ade6.e73e2a","type":"switch","z":"f841e824.d474f","name":"on OR off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":380,"wires":[[],["354cbbf5.235e94"]]},{"id":"fe8fbe43.1e9b3","type":"switch","z":"f841e824.d474f","name":"on OR off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":200,"wires":[["360535db.0ee84a","be6acb78.7ef618"],[]]},{"id":"354cbbf5.235e94","type":"api-call-service","z":"f841e824.d474f","name":"Imposta la lavatrice su \"on\"","server":"22ed3d76.929c3a","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.washingmachine_status\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1540,"y":380,"wires":[[]]},{"id":"360535db.0ee84a","type":"api-call-service","z":"f841e824.d474f","name":"imposta la lavatrice su \"off\"","server":"22ed3d76.929c3a","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.washingmachine_status\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1540,"y":180,"wires":[[]]},{"id":"be6acb78.7ef618","type":"api-call-service","z":"f841e824.d474f","name":"Notifica tramite Alexa","server":"22ed3d76.929c3a","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.casa\",\"message\":\"Simon dice: La lavatrice ha finito. Ora puoi stendere il bucato\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1680,"y":280,"wires":[[]]},{"id":"9c957b94.3cbb5","type":"delay","z":"f841e824.d474f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":440,"y":280,"wires":[["ae09eb3a.ae7da8"]]}]