flows.json
[{"id":"74e4c992.25d51","type":"tab","label":"water_sensor","disabled":false,"info":""},{"id":"45dd8798.2cfc88","type":"tab","label":"xmas_light","disabled":false,"info":""},{"id":"22ed3d76.929c3a","type":"server","z":"","name":"Casa","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"1b399b.1c765e66","type":"server-state-changed","z":"74e4c992.25d51","name":"uno_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00024d84eb_water_leak","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":120,"y":160,"wires":[["dece2f0a.8837c8"],[]],"outputLabels":["payload",""]},{"id":"ad52530b.2d99","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","service_domain":"notify","service":"ios_mauros_iphone","data":"{\"message\":\"E' stata rilevata una perdita d'acqua dal sensore \",\"title\":\"Attenzione perdita d'acqua {{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":750,"y":240,"wires":[[]]},{"id":"c54846e.fe6b7b8","type":"server-state-changed","z":"74e4c992.25d51","name":"due_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00022f07db_water_leak","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":120,"y":240,"wires":[["394a12ba.a1306e"],[]]},{"id":"fc1ceb77.d59ce8","type":"server-state-changed","z":"74e4c992.25d51","name":"tre_water_leak","server":"22ed3d76.929c3a","entityidfilter":"binary_sensor.0x00158d00022f07f7","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":320,"wires":[["263b16ac.6d2f22"],[]]},{"id":"f5488a6c.31f53","type":"sunrise","z":"45dd8798.2cfc88","name":"","lat":"45.6666400","lon":"9.0488400","start":"sunriseEnd","end":"goldenHour","x":70,"y":100,"wires":[[],["3b028a67.70c13e"]],"outputLabels":["payload",""]},{"id":"3b028a67.70c13e","type":"switch","z":"45dd8798.2cfc88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":100,"wires":[["785b1e0.5e8c7e4"],["7cb064d9.8a1514"]]},{"id":"785b1e0.5e8c7e4","type":"api-call-service","z":"45dd8798.2cfc88","name":"Accende luci di Natale","server":"22ed3d76.929c3a","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":60,"wires":[[]]},{"id":"7cb064d9.8a1514","type":"api-call-service","z":"45dd8798.2cfc88","name":"Spegne luci di Natale","server":"22ed3d76.929c3a","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":140,"wires":[[]]},{"id":"88b9c545.82cbe8","type":"api-current-state","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.0x00158d00022f07f7_battery","state_type":"str","outputs":1,"x":650,"y":460,"wires":[["5df3e207.90efe4"]]},{"id":"5df3e207.90efe4","type":"debug","z":"74e4c992.25d51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":590,"y":580,"wires":[]},{"id":"b538613.c27292","type":"inject","z":"74e4c992.25d51","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["88b9c545.82cbe8","5a625441.70e824"]]},{"id":"3c94bbea.b90034","type":"server-state-changed","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","entityidfilter":"sensor.0x00158d00022f07f7_battery","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":270,"y":560,"wires":[["5df3e207.90efe4"]]},{"id":"34fe9d4b.60034a","type":"server-events","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","event_type":"","x":240,"y":700,"wires":[[]]},{"id":"dece2f0a.8837c8","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UNO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["ad52530b.2d99"]]},{"id":"394a12ba.a1306e","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DUE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["ad52530b.2d99"]]},{"id":"263b16ac.6d2f22","type":"change","z":"74e4c992.25d51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TRE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["ad52530b.2d99"]]},{"id":"5a625441.70e824","type":"debug","z":"74e4c992.25d51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":520,"wires":[]}]