flows.json
[{"id":"f841e824.d474f","type":"tab","label":"Consumi Elettrici","disabled":false,"info":""},{"id":"74e4c992.25d51","type":"tab","label":"water_sensor","disabled":false,"info":""},{"id":"b845d607.73c178","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"a013795f.15e19","type":"tab","label":"switch","disabled":false,"info":""},{"id":"45dd8798.2cfc88","type":"tab","label":"xmas_light","disabled":true,"info":""},{"id":"22ed3d76.929c3a","type":"server","z":"","name":"Casa","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"c6e21e6c.847e8","type":"server","z":"","name":"Casa (local https)","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"615025f1.4f06b4","type":"mqtt-broker","z":"","name":"","broker":"10.9.10.55","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1b6fc0ee.bfa6b7","type":"ui_group","z":"","name":"Lavastoviglie","tab":"e3f4bf15.c436","disp":true,"width":"6","collapse":false},{"id":"e3f4bf15.c436","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b05b932e.9b9a78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54cd2612.c326d8","type":"ui_group","z":"","name":"Lavatrice","tab":"e3f4bf15.c436","disp":true,"width":"6","collapse":false},{"id":"a7c77e43.dccf78","type":"influxdb","z":"","hostname":"10.9.10.56","port":"8086","protocol":"http","database":"power","name":"influxdb_power","usetls":false,"tls":""},{"id":"aaae4e37.4aad88","type":"server","z":"","name":"HASS","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"efdb8d8d.4fdfe8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"10.9.10.55","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b399b.1c765e66","type":"server-state-changed","z":"74e4c992.25d51","name":"water1","server":"c6e21e6c.847e8","entityidfilter":"binary_sensor.water1","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":160,"wires":[["89037470.7bfdb8"],[]]},{"id":"ad52530b.2d99","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"message\":\"E' stata rilevata una perdita d'acqua dal sensore \",\"title\":\"Attenzione perdita d'acqua {{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":240,"wires":[[]]},{"id":"c54846e.fe6b7b8","type":"server-state-changed","z":"74e4c992.25d51","name":"water2","server":"c6e21e6c.847e8","entityidfilter":"binary_sensor.water2","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":240,"wires":[["89037470.7bfdb8"],[]]},{"id":"fc1ceb77.d59ce8","type":"server-state-changed","z":"74e4c992.25d51","name":"water3","server":"c6e21e6c.847e8","entityidfilter":"binary_sensor.water3","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":320,"wires":[["89037470.7bfdb8"],[]]},{"id":"f5488a6c.31f53","type":"sunrise","z":"45dd8798.2cfc88","name":"","lat":"45.6666400","lon":"9.0488400","start":"sunriseEnd","end":"goldenHour","x":110,"y":220,"wires":[[],["3b028a67.70c13e"]],"outputLabels":["payload",""]},{"id":"3b028a67.70c13e","type":"switch","z":"45dd8798.2cfc88","name":"alba o tramonto ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["785b1e0.5e8c7e4"],["7cb064d9.8a1514"]]},{"id":"785b1e0.5e8c7e4","type":"api-call-service","z":"45dd8798.2cfc88","name":"Accende luci di Natale","server":"c6e21e6c.847e8","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":180,"wires":[[]]},{"id":"7cb064d9.8a1514","type":"api-call-service","z":"45dd8798.2cfc88","name":"Spegne luci di Natale","server":"c6e21e6c.847e8","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.lucine_casa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":260,"wires":[[]]},{"id":"9bc871dc.88a4f","type":"comment","z":"45dd8798.2cfc88","name":"Xmas Light","info":"Accende/spegne le luci di Natale all'inizio dell'imbrunire e alla fine dell'alba.","x":80,"y":20,"wires":[]},{"id":"2e9df7be.cb2f28","type":"inject","z":"45dd8798.2cfc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":340,"wires":[["7cb064d9.8a1514"]]},{"id":"1d3111a2.e40926","type":"inject","z":"45dd8798.2cfc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":100,"wires":[["785b1e0.5e8c7e4"]]},{"id":"929f8303.a26fa8","type":"comment","z":"f841e824.d474f","name":"Monitoraggio consumi elettrici","info":"# **Monitoraggio Consumo Elettrico**\nViene monitorato il consumo elettrico dei seguenti\nelettrodomestici:\n\n - Lavatrice\n - Lavastoviglie\n - Frigorifero\n - Forno\n \nIl monitoraggio è effettuato leggendo da Home Assistant\nil consumo rilevato dalla prese smart Innr\n\nInoltre viene monitorato il consumo globlale misurato\ndallo smart meter posizionato all'ingresso della linea elettrica.\n\nTutti i dati confluiscono verso un database Influxdb","x":120,"y":60,"wires":[]},{"id":"588e2549.c8940c","type":"server-state-changed","z":"74e4c992.25d51","name":"Sensore acqua pozzo lavatoio","server":"c6e21e6c.847e8","entityidfilter":"binary_sensor.water4","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":320,"y":440,"wires":[["2a3a534b.71e4dc","160757fa.4d2658","9bdbb95f.75cc78"],[]]},{"id":"b0e3b84e.37a95","type":"debug","z":"74e4c992.25d51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":860,"wires":[]},{"id":"a31e1159.ae248","type":"api-current-state","z":"74e4c992.25d51","name":"water1 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.water1","state_type":"str","outputs":1,"x":370,"y":680,"wires":[["e58be3c0.0fe8b8"]]},{"id":"8606ccef.3740a","type":"inject","z":"74e4c992.25d51","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":90,"y":840,"wires":[["a31e1159.ae248","d3b62575.0a52f8","d05b9a31.dc043","9d315b85.112348","ecaefb70.0f3148","a804a23d.6082e8"]]},{"id":"e58be3c0.0fe8b8","type":"function","z":"74e4c992.25d51","name":"if battery level < 20","func":"var battery_level =  msg.data.attributes.battery_level;\nvar sensor_name = msg.data.attributes.friendly_name;\nif (battery_level < 20) {\nmsg.payload =  \"ATTENZIONE: livello batteria sensore \" + sensor_name + \" \" + battery_level + \"%\" \n} else { msg = null }\nreturn msg; ","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["b0e3b84e.37a95","724eba6.0894a44"]]},{"id":"d3b62575.0a52f8","type":"api-current-state","z":"74e4c992.25d51","name":"water2 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.water2","state_type":"str","outputs":1,"x":370,"y":740,"wires":[["e58be3c0.0fe8b8"]]},{"id":"9d315b85.112348","type":"api-current-state","z":"74e4c992.25d51","name":"water4 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.water4","state_type":"str","outputs":1,"x":370,"y":860,"wires":[["e58be3c0.0fe8b8"]]},{"id":"d05b9a31.dc043","type":"api-current-state","z":"74e4c992.25d51","name":"water3 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.water3","state_type":"str","outputs":1,"x":370,"y":800,"wires":[["e58be3c0.0fe8b8"]]},{"id":"89037470.7bfdb8","type":"function","z":"74e4c992.25d51","name":"Modify payload with sensor name","func":"var sensor_name = msg.data.attributes.friendly_name;\nmsg.payload = \"ATTENZIONE: perdita d'acqua rilevata dal sesnore \" + sensor_name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["ad52530b.2d99"]]},{"id":"ecaefb70.0f3148","type":"api-current-state","z":"74e4c992.25d51","name":"switch1 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.switch1_battery_level","state_type":"str","outputs":1,"x":380,"y":920,"wires":[["f516de9b.ba657"]]},{"id":"a804a23d.6082e8","type":"api-current-state","z":"74e4c992.25d51","name":"switch2 battery level","server":"c6e21e6c.847e8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.switch2_battery_level","state_type":"str","outputs":1,"x":380,"y":980,"wires":[["f516de9b.ba657"]]},{"id":"f516de9b.ba657","type":"function","z":"74e4c992.25d51","name":"if battery level < 20","func":"var battery_level =  msg.payload;\nvar sensor_name = msg.data.attributes.friendly_name;\nif (battery_level < 20) {\nmsg.payload =  \"ATTENZIONE: livello batteria sensore \" + sensor_name + \" \" + battery_level + \"%\" \n} else { msg = null }\nreturn msg; ","outputs":1,"noerr":0,"x":810,"y":940,"wires":[["b0e3b84e.37a95","724eba6.0894a44"]]},{"id":"ffe2d279.f93d88","type":"server-state-changed","z":"f841e824.d474f","name":"Consumo Lavastoviglie Watt","server":"c6e21e6c.847e8","entityidfilter":"sensor.innr_plug1_power","entityidfiltertype":"substring","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":140,"y":300,"wires":[["6e027ae9.8d00ec","dc96e344.03922"]]},{"id":"6e027ae9.8d00ec","type":"switch","z":"f841e824.d474f","name":"<=2 or >=40 ?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"str"},{"t":"gte","v":"40","vt":"str"},{"t":"btwn","v":"2","vt":"num","v2":"40","v2t":"num"}],"checkall":"false","repair":false,"outputs":3,"x":380,"y":300,"wires":[["e3a6ed46.3e66f"],["a6f2672e.495d1"],[]]},{"id":"e3a6ed46.3e66f","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavastoviglie","server":"c6e21e6c.847e8","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.dishwasher_status","state_type":"str","outputs":2,"x":670,"y":240,"wires":[["97fa08e7.b95428"],[]]},{"id":"a6f2672e.495d1","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavastoviglie","server":"c6e21e6c.847e8","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.dishwasher_status","state_type":"str","outputs":2,"x":650,"y":340,"wires":[["be6f3ee8.6368a"],[]]},{"id":"3a8a3532.c7912a","type":"api-call-service","z":"f841e824.d474f","name":"imposta la lavastoviglie su \"off\"","server":"c6e21e6c.847e8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.dishwasher_status\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1370,"y":180,"wires":[[]]},{"id":"be6f3ee8.6368a","type":"api-call-service","z":"f841e824.d474f","name":"Imposta la lavastoviglie su \"on\"","server":"c6e21e6c.847e8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.dishwasher_status\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1050,"y":380,"wires":[[]]},{"id":"846d2ef1.3d76d","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"title\":\"Piatti Lavati\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"","output_location_type":"none","x":1370,"y":260,"wires":[[]]},{"id":"ec897701.132bc8","type":"server-state-changed","z":"f841e824.d474f","name":"Consumo Lavatrice Watt","server":"c6e21e6c.847e8","entityidfilter":"sensor.innr_plug2_power","entityidfiltertype":"substring","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":800,"wires":[["7a46ecc5.71988c","3803720a.e78c9e"]]},{"id":"7a46ecc5.71988c","type":"switch","z":"f841e824.d474f","name":"<= 2 or >2 ?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"str"},{"t":"gt","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":800,"wires":[["cce3c7a4.6a7b98"],["c48c05d1.018608","bed4bf4f.e4b8d"]]},{"id":"c0343eb2.3930d8","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"title\":\"Bucato terminato\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"","output_location_type":"none","x":1830,"y":700,"wires":[[]]},{"id":"724eba6.0894a44","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"title\":\"Piatti Lavati\",\"message\":\"La lavastoviglie ha finito\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1150,"y":760,"wires":[[]]},{"id":"ddb9425d.c294","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_grazia_iphone","data":"{\"title\":\"Bucato terminato\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"","output_location_type":"none","x":1820,"y":780,"wires":[[]]},{"id":"64b67a33.f752fc","type":"api-call-service","z":"f841e824.d474f","name":"imposta la lavatrice su \"off\"","server":"c6e21e6c.847e8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.washingmachine_status\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1820,"y":620,"wires":[[]]},{"id":"dbe27959.21a1b","type":"api-call-service","z":"f841e824.d474f","name":"Imposta la lavatrice su \"on\"","server":"c6e21e6c.847e8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.washingmachine_status\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":980,"y":920,"wires":[[]]},{"id":"c48c05d1.018608","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavatrice","server":"c6e21e6c.847e8","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.washingmachine_status","state_type":"str","outputs":2,"x":680,"y":920,"wires":[["dbe27959.21a1b"],[]]},{"id":"d85460c5.bf3e88","type":"trigger-state","z":"b845d607.73c178","name":"","server":"c6e21e6c.847e8","entityid":"binary_sensor.presence1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"b1qc4535sfp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"fcak5e98v64","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":290,"y":320,"wires":[["79f520d9.186ac8"],[]]},{"id":"66cb26bd.13135","type":"trigger-state","z":"b845d607.73c178","name":"","server":"c6e21e6c.847e8","entityid":"binary_sensor.presence2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7xkdetmzmkg","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"y6x71awy6a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":290,"y":380,"wires":[["79f520d9.186ac8"],[]]},{"id":"2e8f9e53.812b7a","type":"delay","z":"f841e824.d474f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":970,"y":740,"wires":[["ff2d8a29.ed01d"]]},{"id":"f3f0da13.d4cd2","type":"server-state-changed","z":"f841e824.d474f","name":"Consumo Frigorifero Watt","server":"c6e21e6c.847e8","entityidfilter":"sensor.innr_plug4_power","entityidfiltertype":"substring","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":1180,"wires":[["3de57654.f35602","609e5d56.9d006c"]]},{"id":"3de57654.f35602","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"","measurement":"frigorifero","precision":"","retentionPolicy":"","x":190,"y":1360,"wires":[]},{"id":"3803720a.e78c9e","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"","measurement":"lavatrice","precision":"","retentionPolicy":"","x":350,"y":940,"wires":[]},{"id":"dc96e344.03922","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"","measurement":"lavastoviglie","precision":"","retentionPolicy":"","x":360,"y":460,"wires":[]},{"id":"d50a9414.8903d","type":"server-state-changed","z":"f841e824.d474f","name":"Consumo Forno Watt","server":"c6e21e6c.847e8","entityidfilter":"sensor.innr_plug5_power","entityidfiltertype":"substring","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":1620,"wires":[["f89c9626.f4949"]]},{"id":"f89c9626.f4949","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"","measurement":"forno","precision":"","retentionPolicy":"","x":500,"y":1620,"wires":[]},{"id":"79f520d9.186ac8","type":"debug","z":"b845d607.73c178","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"2137ec96.33d2d4","type":"trigger-state","z":"b845d607.73c178","name":"","server":"c6e21e6c.847e8","entityid":"binary_sensor.presence3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7xkdetmzmkg","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"y6x71awy6a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":290,"y":440,"wires":[["79f520d9.186ac8"],[]]},{"id":"8731cbbc.98f41","type":"trigger-state","z":"b845d607.73c178","name":"","server":"c6e21e6c.847e8","entityid":"binary_sensor.presence4","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7xkdetmzmkg","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"y6x71awy6a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":290,"y":500,"wires":[["79f520d9.186ac8"],[]]},{"id":"34e5b1f8.b68496","type":"api-current-state","z":"f841e824.d474f","name":"Stato presa frigorifero","server":"22ed3d76.929c3a","halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.innr_plug4_status","state_type":"str","outputs":2,"x":960,"y":1180,"wires":[["5417eda1.31b61c","e3922b5e.aee888"],[]]},{"id":"5417eda1.31b61c","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"title\":\"Probelma al frigorifero\",\"message\":\"La presa è spenta!\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1420,"y":1180,"wires":[[]]},{"id":"609e5d56.9d006c","type":"switch","z":"f841e824.d474f","name":"se <5 or >10","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"str"},{"t":"gt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1180,"wires":[["ef749ecd.b71b48","b35834bb.1da0b8"],["b3d3d616.c7e658"]]},{"id":"ef749ecd.b71b48","type":"delay","z":"f841e824.d474f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":1180,"wires":[["34e5b1f8.b68496"]]},{"id":"2f9c93eb.587f64","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"alexa_media_terra","data":"{\"message\":\"{{payload}}\",\"title\":\"Bucato Terminato\",\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"target\":[\"Cucina\"]}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1830,"y":860,"wires":[[]]},{"id":"e3922b5e.aee888","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"alexa_media","data":"{\"message\":\"Attenzione! Sembra che la presa del frigorifero sia spenta. Controlla subito!\",\"title\":\"Presa frigorifero off\",\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"target\":[\"Cucina\"]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":1240,"wires":[[]]},{"id":"4a76b909.bb8f48","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"title\":\"Probelma al frigorifero\",\"message\":\"Non è stato rilevato consumo lettrico da più di 60 minuti\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":980,"y":1300,"wires":[[]]},{"id":"b35834bb.1da0b8","type":"trigger","z":"f841e824.d474f","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"60","extend":false,"units":"min","reset":"reset","bytopic":"all","name":"","x":710,"y":1300,"wires":[["4a76b909.bb8f48"]]},{"id":"b3d3d616.c7e658","type":"change","z":"f841e824.d474f","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1300,"wires":[["b35834bb.1da0b8"]]},{"id":"ff2d8a29.ed01d","type":"trigger","z":"f841e824.d474f","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":false,"units":"min","reset":"reset","bytopic":"all","name":"","x":1250,"y":740,"wires":[["11fd7980.c38c37","c0c39c5d.4c3da8"]]},{"id":"bed4bf4f.e4b8d","type":"change","z":"f841e824.d474f","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":800,"wires":[["ff2d8a29.ed01d"]]},{"id":"ac24b867.0663c8","type":"inject","z":"a013795f.15e19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["3c87f1.cbf8381"]]},{"id":"3c87f1.cbf8381","type":"api-call-service","z":"a013795f.15e19","name":"","server":"c6e21e6c.847e8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.serra\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":390,"y":180,"wires":[["50cd7512.aa6e5c"]]},{"id":"50cd7512.aa6e5c","type":"debug","z":"a013795f.15e19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"dc431a0a.76f558","type":"inject","z":"a013795f.15e19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["20cf1064.6493a"]]},{"id":"20cf1064.6493a","type":"api-call-service","z":"a013795f.15e19","name":"","server":"c6e21e6c.847e8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.serra\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":390,"y":260,"wires":[["50cd7512.aa6e5c"]]},{"id":"2a3a534b.71e4dc","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_mauro_iphone","data":"{\"message\":\"Attenzione! Rilevata presenza d'acqua nel pozzo della pompa in lavatoio\",\"title\":\"Attenzione perdita d'acqua pozzo lavatoio\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":440,"wires":[[]]},{"id":"160757fa.4d2658","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"alexa_media","data":"{\"message\":\"Attenzione! Rilevata presenza d'acqua nel pozzo della pompa in lavatoio\",\"title\":\"Acqua nel pozzo lavatoio\",\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"target\":[\"Terra\"]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":750,"y":500,"wires":[[]]},{"id":"9bdbb95f.75cc78","type":"api-call-service","z":"74e4c992.25d51","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"ios_grazia_iphone","data":"{\"message\":\"Attenzione! Rilevata presenza d'acqua nel pozzo della pompa in lavatoio\",\"title\":\"Attenzione perdita d'acqua pozzo lavatoio\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":760,"y":380,"wires":[[]]},{"id":"c0c39c5d.4c3da8","type":"function","z":"f841e824.d474f","name":"Prepara il messaggio","func":"function millisToMinutesAndSeconds(millis) {\n  var minutes = Math.floor(millis / 60000);\n  var seconds = ((millis % 60000) / 1000).toFixed(0);\n  return minutes + \" minuti e \" + (seconds < 10 ? '0' : '') + seconds + \" secondi\";\n}\n\nvar text = \"La lavatrice ha finito. Ora puoi stendere il bucato. Durata lavaggio: \"\nvar msg1 = {payload: text + millisToMinutesAndSeconds(msg.data.timeSinceChangedMs) }\nreturn msg1\n\n\n  \n\n\n","outputs":1,"noerr":0,"x":1540,"y":740,"wires":[["2f9c93eb.587f64","c0343eb2.3930d8","64b67a33.f752fc","ddb9425d.c294"]]},{"id":"180ee541.c5265b","type":"server-events","z":"a013795f.15e19","name":"","server":"c6e21e6c.847e8","event_type":"deconz_event","x":220,"y":400,"wires":[[]]},{"id":"a076a8c2.1374d","type":"poll-state","z":"74e4c992.25d51","name":"","server":"22ed3d76.929c3a","updateinterval":"600","outputinitially":true,"outputonchanged":false,"entity_id":"binary_sensor.water4","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":330,"y":380,"wires":[["2a3a534b.71e4dc"],[]]},{"id":"97fa08e7.b95428","type":"function","z":"f841e824.d474f","name":"Prepara il messaggio","func":"function millisToMinutesAndSeconds(millis) {\n  var minutes = Math.floor(millis / 60000);\n  var seconds = ((millis % 60000) / 1000).toFixed(0);\n  return minutes + \" minuti e \" + (seconds < 10 ? '0' : '') + seconds + \" secondi\";\n}\n\nvar text = \"Piatti lavati. Durata ciclo di lavaggio lavaggio: \"\nvar msg1 = {payload: text + millisToMinutesAndSeconds(msg.data.timeSinceChangedMs) }\nreturn msg1\n  \n\n\n","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[["846d2ef1.3d76d","3a8a3532.c7912a"]]},{"id":"7916216.3f0bc6","type":"mqtt in","z":"f841e824.d474f","name":"Generale W","topic":"1694498882.W","qos":"2","datatype":"auto","broker":"efdb8d8d.4fdfe8","x":150,"y":1880,"wires":[["ccef8db8.407948"]]},{"id":"90ce68bb.28e028","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"generale_w","measurement":"generale_w","precision":"","retentionPolicy":"","x":550,"y":1880,"wires":[]},{"id":"886d5780.8a7f7","type":"mqtt in","z":"f841e824.d474f","name":"Generale A","topic":"1694498882.A","qos":"2","datatype":"auto","broker":"efdb8d8d.4fdfe8","x":140,"y":1940,"wires":[["ca5476a7.f22e"]]},{"id":"8ecd5a59.d7cac8","type":"mqtt in","z":"f841e824.d474f","name":"Generale V","topic":"1694498882.V","qos":"2","datatype":"auto","broker":"efdb8d8d.4fdfe8","x":140,"y":2000,"wires":[["36c440c6.e32d4"]]},{"id":"f346feec.c9453","type":"mqtt in","z":"f841e824.d474f","name":"Generale PF","topic":"1694498882.PF","qos":"2","datatype":"auto","broker":"efdb8d8d.4fdfe8","x":150,"y":2060,"wires":[["d4adf237.a4de08"]]},{"id":"3aed4e06.6a055a","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"generale_a","measurement":"generale_a","precision":"","retentionPolicy":"","x":550,"y":1940,"wires":[]},{"id":"388d1b3e.13e2f4","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"generale_v","measurement":"generale_v","precision":"","retentionPolicy":"","x":550,"y":2000,"wires":[]},{"id":"fb32d4b3.ab5e9","type":"influxdb out","z":"f841e824.d474f","influxdb":"a7c77e43.dccf78","name":"generale_pf","measurement":"generale_pf","precision":"","retentionPolicy":"","x":550,"y":2060,"wires":[]},{"id":"ccef8db8.407948","type":"json","z":"f841e824.d474f","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1880,"wires":[["90ce68bb.28e028","c6ce6533.ab36a8"]]},{"id":"ca5476a7.f22e","type":"json","z":"f841e824.d474f","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1940,"wires":[["3aed4e06.6a055a"]]},{"id":"36c440c6.e32d4","type":"json","z":"f841e824.d474f","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2000,"wires":[["388d1b3e.13e2f4"]]},{"id":"d4adf237.a4de08","type":"json","z":"f841e824.d474f","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2060,"wires":[["fb32d4b3.ab5e9"]]},{"id":"cce3c7a4.6a7b98","type":"api-current-state","z":"f841e824.d474f","name":"Stato della lavatrice","server":"c6e21e6c.847e8","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.washingmachine_status","state_type":"str","outputs":2,"x":680,"y":740,"wires":[["2e8f9e53.812b7a"],[]]},{"id":"11fd7980.c38c37","type":"debug","z":"f841e824.d474f","name":"prova","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1450,"y":640,"wires":[]},{"id":"6fe8555e.62a4ec","type":"inject","z":"f841e824.d474f","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":640,"wires":[["ff2d8a29.ed01d"]]},{"id":"aa05600a.cc269","type":"inject","z":"f841e824.d474f","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":1400,"wires":[["b35834bb.1da0b8"]]},{"id":"c6ce6533.ab36a8","type":"function","z":"f841e824.d474f","name":"Prepara messaggio","func":"var max_w = 3100\nif (msg.payload > max_w) {\n  var msg1 = {payload: \"Attenzione! Il consumo di energia elettrica è pari a \" + msg.payload + \" watt. Rischio di distacco!\"}  \n} else {msg1 = null}\n\nreturn msg1;","outputs":1,"noerr":0,"x":550,"y":1820,"wires":[["b1cf814b.a7b2"]]},{"id":"f3df76e8.56402","type":"api-call-service","z":"f841e824.d474f","name":"","server":"c6e21e6c.847e8","service_domain":"notify","service":"alexa_media_ovunque","data":"{\"message\":\"{{payload}}\",\"title\":\"Rischio di distacco\",\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"target\":[\"ovunque\"]}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":1820,"wires":[[]]},{"id":"b1cf814b.a7b2","type":"delay","z":"f841e824.d474f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":780,"y":1820,"wires":[["f3df76e8.56402"]]}]